@charset "UTF 8"; 
/*Estilos para todas as telas*/ 
body{
    flex-direction: column; }

header{ 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  width: 100%;
  color: #a9a9a9; }

  section.w100{
    width: 100%; 
    box-shadow: 2px 2px 20px 3px black;}

    header > video{ 
      position: absolute;
       left: 0; 
       top: 0;
        z-index: -1; 
        width: 100%; 
      height: auto; 
        object-fit: cover;} 

      span#down-arrow{
        font-size: 2em;
        bottom: 5px;
      }

        section.about-me{ 
          background-image: linear-gradient(to bottom right, #000000fd 1%,#3B3C40 60%); 
          min-height: 100%;
           min-width: 100%;} 

           article{
            flex-direction: column;}

          .about-me > article > p{  
            font-size: small;
            color: #F2E2C4;} 
                         
            p#p-about-me{
              top: 7px;
              left: 3px;
              color: grey;}

              
              .hidden{
                opacity: 0;
                filter: blur(10);
                transform: translateX(-100%);
                transition: all 1s;}

               .show{
                opacity: 1;
                filter: blur(0px);
                transform: translateX(0);
                transition: all 1s;}

 /* Estilos para telas menores (mobile) */ 
 @media screen and (max-width: 768px){
.size-developer{
font-size: 3.1em;}

p#presentation{ 
top: 5px; 
font-size: 0.79em;
font-weight: lighter;}

p#about-me{ 
top: 5px;
font-size: 11px;} 

span#icons-glt{ 
font-size: 23px;} } 

/*Estilos para telas maiores*/
@media screen and (min-width: 768px){

.size-developer{
font-size: 5em;}

         p#presentation{ 
            top: 1em; 
            font-size: 1em;} 

         span#icons-glt{ 
            font-size: 35px;} 

         header > video{ 
            position: absolute;
             left: 0; 
             top: 0;
              z-index: -1; 
              width: 100%; 
            height: 100%; 
              object-fit: cover;} }