@charset "UTF 8"; 
body{
    flex-direction: column;
}
 /* Estilos para telas menores (mobile) */ 
 @media screen and (max-width: 768px){

     /*cabeçalho principal*/
      header{ 
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
        height: 95vh; 
        width: 100%;
        color: #a9a9a9; } 

      section.w100{ 
        width: 100%;
        box-shadow: 2px 2px 20px 3px black; } 

      p#presentation{ 
        top: 5px;
        font-size: 11px;} 

      span#icons-glt{ 
        font-size: 20px;} 

      header > video{
         position: fixed;
          left: 0;
           top: 0;
            z-index: -1;
            width: 100%; 
            height: 100%; 
            object-fit: cover; } 

      /*sobre mim*/ 
      section#about-me{
         background-image: linear-gradient(to bottom, #000000c0 2%,#9ca6a2 20%);
          height: 650px;
        }

       #about-me > article > p{  
         font-size: small;
         } 

         p#p-about-me{
            top: 7px;
            left: 3px;
            color: grey;
         }
    } 
    @media screen and (min-width: 768px){
        header{ 
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; height: 97vh;
             width: 100%;
             color: #a9a9a9;} 
            .size-developer{
                font-size: 4.5em;
            }
         section.w100{
             width: 100%; 
             box-shadow: 2px 2px 20px 3px black; } 

         p#presentation{ 
            top: 5px; 
            font-size: small;} 

         span#icons-glt{ 
            font-size: 30px;} 

         header > video{ 
            position: absolute;
             left: 0; 
             top: 0;
              z-index: -1; 
              width: 100%; 
            height: 100%; 
              object-fit: cover;} 
         /*sobre mim*/ 
         section#about-me{ 
            background-image: linear-gradient(to bottom right, #000000fd 1%,#9CA6A2 60%); 
            min-height: 100%;
             min-width: 100%;} 
        }